/*General selectors rules*/

body
{
	font-family: 'Josefin Sans', sans-serif;
	background-color: silver;
}

h2
{
	font-size: 28px;
}

h3
{
	font-size: 16px;
}

/*
Manage header's elements
*/
header
{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: white;
	box-shadow: 5px 5px 5px 2px black;
}


header:hover
{
	animation-name: header-up;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes header-up
{
	0% {
		box-shadow: 5px 5px 5px 2px black;
	}
	100% {
		box-shadow: 0px 0px 0px 0px black;
	}
}

#header-img
{
	padding: 1px;
	margin: 1px;
	width: 100px;
	height: auto;
}

#nav-bar>ul
{
	display: flex;
	justify-content: space-around;
	width: 450px;
	list-style-type: none;
	
}

#nav-bar>ul>li
{
	background-color : silver;
	width: 110px;
	text-align: center;
	border: 10px silver solid;
	border-radius: 10px;
}

/*
Manage form section
*/
#form-section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 25px;
	margin-top: 25px;
}

#form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

input 
{
	padding: 5px;
	margin: 5px;
}

/*
Manage feature section
*/

svg
{
	width: 64px;
	height: auto;
	background-color: white;
	border: 10px white solid;
	border-radius: 10px;
}

.grid
{
	display: flex;
}

.icon
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 128px;
	width: 20vw;
}

.desc
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 128px;
	width: 60vw;
}

/*
Manage How it works section
*/

#how-it-works
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

/*
Manage Price section
*/

#price
{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.price-box
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	margin: 12px;
	padding: 12px;
	
	border: 1px black solid;
	border-radius: 5px;
}

.price-box>h3
{
	background-color: white;
	border: 30px white solid;
	border-radius:10px;
}

/*Manage footer*/

#footer-list
{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	text-align: right;
	width: 450px;
}

#footer
{
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: flex-end;
	border: 10px white solid;
	border-radius: 10px;
}

#footer>p 
{
	text-align: right;
	width: 450px;
	padding-right: 30px;
}
